
body {
    background-color: lightblue;
}

h1.main-title {
        padding-top: 2%;
        padding-bottom: 1%;
        text-align: center;
}
#card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 3%;
    padding: 2%;
    width: 200px;
    border: 2px solid slategray;
    text-align: center;
}

.card-button {
    margin: 0 auto;
}

img {
    width: 90%;
}

#outPutCard {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    border: 2px solid black;

}
.titleAlign {
    display: inline;
    margin-left: 15px;
}